footer 
    .developed
        span Developed by Kalyane de Oliveira Bezerra
        br
        a(href="https://github.com/kalyane") GitHub
        a(href="https://www.linkedin.com/in/kalyanebezerra/") Linkedin
    div.logo Imagine Dungeons
