nav
    div.logo Imagine Dungeons
    div.links
        a(href="/" class=(name === "home" ? "active" : undefined)) Home 
        a(href="/documentation" class=(name === "documentation" ? "active" : undefined)) Documentation 
        if user
            a(href="/games" class=(name === "games" ? "active" : undefined)) Your Games
            a(href="/agents" class=(name === "agents" ? "active" : undefined)) Your Agents 
            a(href="/logout").btn-medium LOGOUT
        else
            a(href="/signup").btn-light SIGNUP 
            a(href="/login").btn-medium LOGIN 