doctype html 
html 
    head 
        title 404 - Imagine Dungeons 
        link(rel="stylesheet" href="/static/css/style.css")
        link(rel="icon" type="image/x-icon" href="/static/images/favicon.ico")
        script(src="https://kit.fontawesome.com/534e6fef90.js" crossorigin="anonymous")
    body 
        include includes/nav
        
        .error404
            i.fa-solid.fa-circle-exclamation.fa-10x
            h1 404
            h3 Page not found

        include includes/footer 