doctype html 
html 
    head 
        title Agent Code - Imagine Dungeons 
        link(rel="stylesheet" href="/static/css/agent_style.css")
        link(rel="stylesheet" href="/static/css/style.css")
        link(rel="icon" type="image/x-icon" href="/static/images/favicon.ico")
        script(src="https://kit.fontawesome.com/534e6fef90.js" crossorigin="anonymous")

        link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.11.0/css/all.css")
        
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.57.0/codemirror.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.57.0/theme/darcula.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.57.0/codemirror.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.57.0/mode/javascript/javascript.min.js")

        script(src="https://cdn.jsdelivr.net/npm/chart.js")
    body 
        include includes/nav
        span(hidden)#ready
        .agent(id_agent=agent._id)
            .code.box
                .header
                    div(style="display: inline;")
                        input(type="text" id="agent_name" name="agent_name" value=agent.name placeholder="Agent Name") 
                        | .js
                    button#save
                        i.fa-solid.fa-cloud-arrow-up
                        span Save Code 
                .code_textarea
                    textarea(id="code")=agent.code

            .right
                .choice
                    label(for="game_name") Choose a game
                    br
                    select(name="game_name" id="game_name")
                        if games
                            each game in games 
                                option(value=game._id selected=(game._id == id_game) ? true : false)=game.name
                    button#run
                        i.fa-solid.fa-play
                        span RUN CODE

                .top
                    .game.box 
                        .header GAME
                        .cont_container
                            .canva_container
                                canvas#playCanvas
                    .render.box 
                        .header RENDER 
                        .render_container
                            canvas#renderCanvas

                .bottom
                    .plot.box
                        .header PLOT
                        .plot_container 
                            canvas#myChart

                    .metrics.box
                        .header METRICS 
                        .metrics_container 
                            .metric
                                i.metric_icon.fad.fa-clock
                                div
                                    .metric_title Time
                                    .metric_value#time
                                    
                            .metric 
                                i.metric_icon.fad.fa-heartbeat
                                div
                                    .metric_title Life
                                    .metric_value#life 1222

                            .metric 
                                i.metric_icon.fad.fa-star
                                div
                                    .metric_title XP
                                    .metric_value#xp

                            .metric 
                                i.metric_icon.fad.fa-medal
                                div
                                    .metric_title Level
                                    .metric_value#level

                            .metric 
                                i.metric_icon.fad.fa-sword
                                div
                                    .metric_title Attack
                                    .metric_value#attack

                            .metric 
                                i.metric_icon.fad.fa-shield
                                div
                                    .metric_title Defense
                                    .metric_value#defense

    script(src="/static/bundles/agent_client_bundle.js")
    script. 
        window.editor = CodeMirror.fromTextArea(document.getElementById("code"), {
            mode: "javascript",
            lineNumbers: true,
            theme: 'darcula',
            autocorrect: true,
            indentUnit: 2
        });

        window.editor.on('change', (instance, changeObj) => {
            document.getElementById("code").value = window.editor.getValue()
        })

        function setSizeCanvas(){
            var canvas = document.getElementById("playCanvas")
            var width = canvas.parentNode.parentNode.clientWidth

            var unit = Math.round(width/4);

            canvas.parentNode.style.height = unit*3 + "px"

            var render_canvas = document.getElementById("renderCanvas")
            render_canvas.style.height = canvas.parentNode.style.height
        }

        setSizeCanvas()

        window.addEventListener('resize', () =>
        {
            setSizeCanvas()
        })

        const ctx = document.getElementById('myChart').getContext('2d');

        const data = {
        labels: [],
        datasets: [{
            label: 'Rewards per Episode',
            data: [],
            backgroundColor: 'rgba(177, 83, 40, 0.2)',
            borderColor: 'rgba(177, 83, 40, 1)',
            borderWidth: 1
        }]
        };

        const options = {
            maintainAspectRatio: false,
            responsive: true,  
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Episode #'
                    },
                    ticks: {
                        autoSkip: true,
                        maxTicksLimit: 10
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: 'Cumulative Reward'
                    },
                    ticks: {
                        beginAtZero: true
                    }
                }
            }
        };

        window.chart = new Chart(ctx, {
            type: 'line',
            data: data,
            options: options
        });