doctype html 
html 
    head 
        title Game Editing - Imagine Dungeons 
        link(rel="stylesheet" href="/css/edit_game_style.css")
        link(rel="stylesheet" href="/css/introjs.css")
        link(rel="icon" type="image/x-icon" href="/images/favicon.ico")
        script(src="https://kit.fontawesome.com/534e6fef90.js" crossorigin="anonymous")

        script(type="importmap").
            {
                "imports": {
                    "three": "https://cdn.skypack.dev/three@0.139.2/node_modules/three/build/three.module",
                        "three/": "https://cdn.skypack.dev/three@0.139.2/",      
                        "dat.gui": "https://cdn.skypack.dev/dat.gui"
                }
            }
    body 
        #loading
            .loading-animation 
            p Loading

        nav
            button#play(onclick="location.href='/games/play/"+game._id+"';")
                i.fa-solid.fa-play(style="margin-right: 10px;")
                span PLAY
            button#save
                i.fa-solid.fa-cloud-arrow-up(style="margin-right: 10px;")
                span SAVE GAME
        .edit_game(id_game=game._id)
            .left
                .settings.box
                    .header SETTINGS
                    .content
                        label(for="game_name") Game name  
                        br
                        input(type="text" id="game_name" name="game_name" value=game.name)
                        br
                        label Map size
                        .size
                            label(for="size_x") x
                            input(type="number" id="size_x" name="size_x" min="1" value=game.size_x)
                            label(for="size_z") z
                            input(type="number" id="size_z" name="size_z" min="1" value=game.size_z)
                .properties.box
                    .header ASSET PROPERTIES
                    .content 
                        .selected(hidden)
                            .container_selected_img
                                img#selected_img
                            label(for="asset_name") Object name  
                            br
                            input(type="text" id="asset_name" name="asset_name" readonly)
                        .properties_life(hidden)
                            label(for="life") Life
                            br
                            input(type="number" id="life" name="life" min="1")
                        .properties_strength(hidden)
                            label(for="strength") Strength
                            br
                            input(type="number" id="strength" name="strength" min="1")

            .middle
                .canva.box
                    .header LAYOUT
                    .canva_container
                        canvas#editCanvas
                .project.box
                    .header PROJECT
                    .added_assets
                        .project_player
                        .project_solid

            .right
                .assets.box(data-intro='Hello step one!')
                    .header ASSETS

                    div.collapsible
                        i.fa-solid.fa-dungeon
                        | &nbsp;&nbsp;
                        span Modular
                        i.fa-solid.fa-plus.icon_collapse
                    .collapsible_content#modular
                                        
                    div.collapsible
                        i.fa-solid.fa-person 
                        | &nbsp;&nbsp;
                        span Players
                        i.fa-solid.fa-plus.icon_collapse
                    .collapsible_content#player

                    div.collapsible
                        i.fa-solid.fa-ghost 
                        | &nbsp;&nbsp;
                        span Monsters
                        i.fa-solid.fa-plus.icon_collapse
                    .collapsible_content#monster

                    div.collapsible
                        i.fa-solid.fa-lightbulb
                        | &nbsp;&nbsp;
                        span Lights
                        i.fa-solid.fa-plus.icon_collapse
                    .collapsible_content#light

                    div.collapsible
                        i.fa-solid.fa-cube
                        | &nbsp;&nbsp;
                        span Objects
                        i.fa-solid.fa-plus.icon_collapse
                    .collapsible_content#object

                    div.collapsible
                        i.fa-solid.fa-shield
                        | &nbsp;&nbsp;
                        span Weapons
                        i.fa-solid.fa-plus.icon_collapse
                    .collapsible_content#weapon
                        
    script(src="/dist/edit_client_bundle.js")
    script(src="https://cdn.bootcdn.net/ajax/libs/intro.js/6.0.0/intro.js")
    script. 
        // collapsible
        var coll = document.getElementsByClassName("collapsible");

        for (var i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var icon = this.getElementsByClassName("icon_collapse")[0];
                var content = this.nextSibling;
                if (content.style.display === "flex") {
                    icon.classList.remove("fa-minus");
                    icon.classList.add("fa-plus");
                    content.style.display = "none";
                } else {
                    icon.classList.remove("fa-plus");
                    icon.classList.add("fa-minus");
                    content.style.display = "flex";
                }
            });
        }

        function startIntro(){
            introJs().setOptions({
                showProgress: true,
                exitOnOverlayClick: true,
                steps: [
                { 
                    title: "Welcome",
                    intro: "Unleash your creativity and bring your dungeon game vision to life! On this game editing page, you have the tools to create a customized 3D dungeon game that includes an architecture for training an AI agent."
                },
                {
                    element: '.settings',
                    title: "General Game Settings",
                    intro: 'Here you can customize the general game settings to your liking.',
                    position: 'right'
                },
                {
                    element: '.assets',
                    title: "Choose Your Game Assets",
                    intro: "This section is home to a diverse collection of assets, organized into categories for easy browsing. Simply click on your desired asset to add it to the center of your game.",
                    position: 'left'
                },
                {
                    element: '.canva',
                    title: "Game Layout",
                    intro: "Once you add an asset, it will appear in the center of the layout, but you have the power to rearrange it to your liking. Easily change the position of an asset by dragging it or by clicking 'G'. You can also adjust the rotation of an asset by dragging the green circle under it or by clicking 'R' if the circle is not already visible.",
                    position: 'bottom'
                },
                {
                    element: '.project',
                    title: "Manage Your Assets",
                    intro: "In this section, you can view all the assets that are currently in your game, including the ability to select and highlight specific assets. Additionally, you have the power to remove any unwanted assets.",
                    position: 'top'
                },
                {
                    element: '.properties',
                    title: "Asset properties",
                    intro: "Whenever you select an asset, this section will display its properties for you to review and adjust as needed. Take control of your game's look and feel and make it truly your own.",
                    position: 'right'
                },
                {
                    element: '#save',
                    title: "Save Your Game",
                    intro: "This game editing page doesn't save automatically, so be sure to click on the 'SAVE GAME' button to preserve your progress and ensure you don't lose any of your edits. Please note that it may take a few seconds to save.",
                    position: 'bottom'
                },
                {
                    element: '#play',
                    title: "Play Your Game",
                    intro: "Simply click the 'Play Your Game' button to enter the world you've created. This is also the page where your AI will have access, so you can see how it performs in the environment you've created.",
                    position: 'bottom'
                }
                
                ]
            }).start()
        }

        let loaded = false;
        let ready = false;

        window.addEventListener("load", function() {
            loaded = true;
            checkLoading();

            window.experience.world.on('everything_ready', function() {
                ready = true;
                checkLoading();
            });
        });

        function checkLoading() {
            if (loaded && ready) {
                const loading = document.querySelector("#loading");
                loading.style.display = "none";
                startIntro()
            }
        }