doctype html 
html 
    head 
        title Error - Imagine Dungeons 
        link(rel="stylesheet" href="/static/css/style.css")
        link(rel="icon" type="image/x-icon" href="/static/images/favicon.ico")
    body 
        h1 SAD

        include includes/footer 
            