doctype html 
html 
    head 
        title Home - Imagine Dungeons 
        link(rel="stylesheet" href="/static/css/style.css")
        link(rel="icon" type="image/x-icon" href="/static/images/favicon.ico")
        link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.12.0/css/all.css")
    body 
        #loading
            .loading-animation 
            p Loading

        include includes/nav
        .home
            .banner
                .banner_left
                    img(src="/static/images/logo.png" alt="Logo")
                    h1 The best place to develop your own Dungeon Games and train AI agents to play them!
                    br
                    p Imagine Dungeons is an online 3D game engine designed to provide an architecture for easy game environment simulations, making it an ideal tool for students and anyone interested in reinforcement learning.
                
                .banner_right
                    img(src="/static/images/sample_dungeon.png" alt="dungeon")

            .cards 
                .card 
                    .icon 
                        i.fal.fa-dungeon
                    h3 Design Your Own Game 
                    p Get access to a range of low poly dungeon assets and characters to create a customizable game  following a dungeon game architecture.

                .card 
                    .icon 
                        i.fal.fa-user-robot
                    h3 Train an AI Agent
                    p Train your AI agent to play any game you developed in this platform using the provided JavaScript libraries for reinforcement learning.

                .card 
                    .icon 
                        i.fal.fa-laptop-code
                    h3 Example RL agents
                    p Explore a variety of example codes for reinforcement learning agents, which you can use as inspiration and adapt to your games.

        include includes/footer 
            

script.
    window.addEventListener("load", function() {
        const loading = document.querySelector("#loading");
        loading.style.display = "none";
    });