doctype html 
html 
    head 
        title Log in - Imagine Dungeons 
        link(rel="stylesheet" href="/static/css/style.css")
        link(rel="icon" type="image/x-icon" href="/static/images/favicon.ico")
    body 
        #loading
            .loading-animation 
            p Loading
            
        if message
            .alert(class=message.type)= message.text
        .bg
            .box_center
                a(href="/").logo Imagine Dungeons 
                form(action="/login" method="post") 
                    label(for="email") Email Address 
                    br
                    input(type="email" id="email" name="email")
                    br
                    label(for="password") Password  
                    br
                    input(type="password" id="password" name="password")
                    br
                    input(type="submit" value="LOGIN")

                div.link_question No account yet? 
                    a(href="/signup") Signup now

script.
    window.addEventListener("load", function() {
        const loading = document.querySelector("#loading");
        loading.style.display = "none";
    });