doctype html 
html 
    head 
        title Log in - Imagine Dungeons 
        link(rel="stylesheet" href="/css/style.css")
        link(rel="icon" type="image/x-icon" href="/images/favicon.ico")
    body 
        if message
            .alert(class=message.type)= message.text
        .bg
            .box_center
                a(href="/").logo Imagine Dungeons 
                form(action="/login" method="post") 
                    label(for="email") Email Address 
                    br
                    input(type="email" id="email" name="email")
                    br
                    label(for="password") Password  
                    br
                    input(type="password" id="password" name="password")
                    br
                    input(type="submit" value="LOGIN")

                div.link_question No account yet? 
                    a(href="/signup") Signup now