doctype html 
html 
    head 
        title Game Playing - Imagine Dungeons 
        link(rel="stylesheet" href="/css/play_game_style.css")
        link(rel="icon" type="image/x-icon" href="/images/favicon.ico")
        script(src="https://kit.fontawesome.com/534e6fef90.js" crossorigin="anonymous")
        script(type="importmap").
            {
                "imports": {
                    "three": "https://cdn.skypack.dev/three@0.139.2/build/three.module",
                        "three/": "https://cdn.skypack.dev/three@0.139.2/",      
                        "dat.gui": "https://cdn.skypack.dev/dat.gui"
                }
            }
    body 
        .play_game(id_game=game._id size_x=game.size_x size_z=game.size_z )
            .canva.box
                .header GAME PLAYING
                .canva_container
                    canvas#editCanvas
            .metric.box
                .header METRICS
                .metrics_container 
                    p TIME 
                    p MONSTERS KILLED
                    p LIFE 
                    p COLLECTED ITEMS
    script(type="module" src="/play_client.js")