.agent{
    box-sizing: border-box;
    flex: 1;
    background-color: #252526;
    display: flex;
    flex-direction: row;
    max-height: 100vh;
}
.header{
    box-sizing:border-box;
    background-color: #121212;
    border-bottom: 2px solid black;
    padding: 10px;
    color: #C4C4C4;
    width: 100%;
    font-size: 15px;
    display: flex;
    justify-content:space-between;
}

.code{
    flex: 0 0 45%;
    display: flex;
    flex-direction: column;
}

.right{
    flex: 0 0 55%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.top{
    flex: 0 0 50%;
    display: flex;
    flex-direction: row;
}
.game{
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
}
.render{
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
}
.bottom{
    flex: 0 0 50%;
    display: flex;
    flex-direction: row;
}
.plot{
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
}

.metrics{
    flex: 0 0 40%;
}

.metrics_container {
    box-sizing: border-box;
    padding: 10px;
    max-height: 40vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.metric{
    flex: 0 0 50%;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    background-color: #3E3E42;
}

.metric_icon{
    display: block;
    background-color: white;
    color: #252526;
    border-radius: 5px;
    font-size: 25px;
    padding: 5px;
    margin-right: 10px;
}

.metric_title{
    color: #C4C4C4;
    font-size: 12px;
}

.metric_value {
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.choice{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: #252526;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choice label{
    color: white;
    font-size: 40px;
}


.code_textarea{
    flex: 1;
    cursor: not-allowed !important;
}

.box{
    box-sizing: border-box;
    background-color: #252526;
    border: 2px solid black;
}

.CodeMirror{
    height: 100% !important;
}

.CodeMirror.readOnly {
    opacity: 0.5;
    pointer-events: none;
}

#save{
    padding: 7px 20px;
    color: #3E3E42 !important;
    background-color: #B15328;
    border-radius: 5px;
    border: none;
    margin: 5px;
    font-size: 15px;
    cursor: pointer;
}

#run{
    padding: 10px 20px;
    color: #3E3E42 !important;
    background-color: #B15328;
    border-radius: 5px;
    border: none;
    margin: 5px;
    font-size: 15px;
    cursor: pointer;
    width: 300px;
}

select{
    width: 300px !important;
}

input, select{
    box-sizing: border-box;
    width: 200px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: #3E3E42;
    color: white;
}

.cont_container {
    box-sizing: border-box;
    display: flex;
}

.canva_container {
    flex: 1;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
}

#playCanvas{
    width: 100%;
}

.render_container {
    flex: 1;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

#renderCanvas{
    width: 100%;
}

.plot_container{
    position: relative;
    flex: 1;
    padding: 20px;
    max-height: 35vh;
}