@font-face {
    font-family: Rye;
    src: url(/static/fonts/Rye-Regular.ttf);
}

@font-face {
    font-family: Lato-Regular;
    src: url(/static/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(/static/fonts/Lato-Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: Lato-Regular;
}

body, html {
    height: 100%;
    background-color: black;
    overflow: hidden;
}

.edit_game{
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 42px);
    width: 100%;
}

.header{
    box-sizing:border-box;
    background-color: black;
    padding: 10px;
    color: #C4C4C4;
    width: 100%;
    font-size: 15px;
}

.left{
    flex: 0 0 20%;
    height: 100%;
    color: #C4C4C4;
    max-width: 20%;
}

.left .properties{
    height: 60%;
    overflow: auto;
}

.left .settings{
    height: 40%;
    overflow: auto;
}

.left .settings .content, .left .properties .content{
    padding: 10px;
    font-size: 13px;
}

.content input, select{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #3E3E42;
    color: white;
}

.settings .content input[type="number"]{
    box-sizing: border-box;
    width: 70px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #3E3E42;
    color: white;
    margin-right: 10%;
}

.container_selected_img{
    text-align: center;
}

#selected_img {
    height: 100px;
    width: 100px;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
}

.content .size {
    text-align: center;
}

.content .size label{
    opacity: 0.5;
}

.content input:focus {
    outline: none;
}

.content label{
    margin-right: 10px;
}

.middle{
    flex: 0 0 55%;
    height: 100%;
    max-width: 55%;
}
.right{
    flex: 0 0 25%;
    height: 100%;
    max-width: 25%;
}

.canva{
    height: 70%;
    min-height: 70%;
    display:flex;
    flex-direction:column;
}

.project{
    height: 30%;
}

.assets{
    height: 100%;
    overflow: auto;
}

.box{
    background-color: #252526;
    outline:2px solid black;
}
.c_left{
    float: left;
}
.c_right{
    float: right;
}
.canva_container{
    flex:1;
    max-height: 55vw;
    max-height: calc(100% - 38px);
}

.collapsible {
    box-sizing:border-box;
    background-color: #3E3E42;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
  
.active, .collapsible:hover {
    background-color: #555;
}

.collapsible_content {
    display: none;
    overflow: hidden;
    flex-wrap: wrap;
}

.icon_collapse{
    float: right;
}

.asset_card{
    box-sizing: border-box;
    padding: 10px;
    flex: 0 0 33.3333%;
    text-align: center;
    font-size: small;
    max-width: 33.3333%;
    position: relative;
}

.asset_card div{
    box-sizing: border-box;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.added_asset{
    box-sizing: border-box;
    padding: 10px;
    flex: 0 0 16.6666%;
    text-align: center;
    font-size: small;
    position: relative;
    max-width: 16.6666%;
}

.added_asset div{
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.asset_card img{
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 100%;
    display: block;
}

.added_asset img{
    box-sizing: border-box;
    padding: 0 10px;
    width: 100%;
    height: 100%;
    display: block;
}

.border{
    border: 2px solid #B15328;
}

.asset_delete{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    cursor: pointer;
}

.asset_delete:hover{
    color:#B15328;
}

.added_assets{
    height: calc(100% - 38px);
    max-height: calc(100% - 38px);
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.add {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: transparent !important;
    width: 100%;
    height: 100%;
}

.add i{
    font-size: 40px;
}

.add div {
    background: rgba(177, 83, 40, 0.8) !important;
    width: 100%;
    height: 100%;
}

.asset_card div:hover .add{
    display: block;
}

.project_player,  .project_solid{
    display: inline;
}

.nav_left{
    float: left;
}

.nav_left button{
    box-sizing: border-box;
    padding: 7px 20px;
    background-color: #3E3E42;
    border-radius: 5px;
    margin: 5px 0 5px 30px;
    font-size: 15px;
    cursor: pointer;
}

.nav_right{
    float: right;
}

#save{
    padding: 7px 20px;
    color: #3E3E42 !important;
    background-color: #B15328;
    border-radius: 5px;
    border: none;
    margin: 5px 30px;
    font-size: 15px;
    cursor: pointer;
}

#play{
    padding: 7px 20px;
    color: #3E3E42 !important;
    background-color: #C7B386;
    border-radius: 5px;
    border: none;
    margin: 5px 0;
    font-size: 15px;
    cursor: pointer;
}


#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3E3E42;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loading  p {
    font-size: 20px;
    font-weight: bold;
    color: #B15328;
    margin: 20px;
}

.loading-animation {
    border: 16px solid #C4C4C4;
    border-top: 16px solid #B15328;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}