.play_game{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #252526;
    max-height: 100vh;
    position: relative;
}

.train_agent_container{
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
}

.agent_button_container {
    flex: 0 0 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.agent_button_container button{
    font-size: 25px;
    background-color: #B15328;
    color:#252526;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
}

.agent_button_container button:hover{
    background-color: #C7B386;
}

.go_back_container{
    flex: 0 0 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.go_back_content{
    flex: 0 0 70%;
    display: flex;
    justify-content: left;
}

.go_back_content a {
    color: white;
    font-size: 15px;
}

.go_back_content a:hover {
    color: #B15328;
}

.game_container{
    flex: 0 0 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game{
    flex: 0 0 50%;
}

.metrics{
    flex: 0 0 20%;
}

.box{
    box-sizing: border-box;
    background-color: #252526;
    outline:2px solid black;
}

.header{
    box-sizing:border-box;
    background-color: black;
    border-top: 2px solid #252526;
    border-left: 2px solid #252526;
    border-right: 2px solid #252526;
    padding: 10px;
    color: #C4C4C4;
    width: 100%;
    font-size: 15px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.metrics_container {
    padding: 10px;
}

.metric{
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid black;
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    background-color: #3E3E42;
}

.metric_icon{
    display: block;
    background-color: white;
    color: #252526;
    border-radius: 5px;
    font-size: 30px;
    padding: 5px;
    margin-right: 10px;
}

.metric_title{
    color: #C4C4C4;
    font-size: 12px;
}

.metric_value {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.canvas_container{
    width: 100%;
    height: 95%;
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

#game_over_container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #B15328;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 50px;
    font-weight: bold;
    z-index: 10;
    color: black;
    cursor: pointer;
}

#game_over_container .small_text{
    font-weight: normal;
    font-size: 20px;
}

#modal_container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: #2525264d; 
    backdrop-filter: blur(10px);

    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    flex: 0 0 600px;
    background-color: #C4C4C4;
    width: 100%;
    border-radius: 5px;
}

.modal_title{
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
}

.modal_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
}

.modal_content label{
    color: #252526;
    font-size: 30px;
}

.modal_content select{
    box-sizing: border-box;
    width: 300px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid #252526;
    background-color: white;
    color: #252526;
    cursor: pointer;
}

#choose{
    padding: 10px 20px;
    color: #252526 !important;
    background-color: #B15328;
    border-radius: 5px;
    border: 2px solid #252526;
    margin: 5px;
    font-size: 15px;
    cursor: pointer;
    width: 300px;
}

#choose:hover{
    background-color: #C7B386;
}

#close{
    font-size: 20px;
}

#close:hover{
    cursor: pointer;
    color: #B15328;
}