@font-face {
    font-family: Rye;
    src: url(/static/fonts/Rye-Regular.ttf);
}

@font-face {
    font-family: Lato-Regular;
    src: url(/static/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(/static/fonts/Lato-Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: Lato-Regular;
}

body, html {
    height: 100%;
}

.play_game{
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
}

.header{
    box-sizing:border-box;
    background-color: black;
    padding: 10px;
    color: #C4C4C4;
    width: 100%;
    font-size: 15px;
}

.box{
    background-color: #252526;
    outline:2px solid black;
}

.left{
    flex: 0 0 50%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    max-width: 50%;
}

.canva{
    flex: 0 0 50%;
}

.canva_container {
    height: 320px;
    width: 480px;
}

.metric{
    flex: 0 0 50%;
}

.right{
    flex: 0 0 50%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    max-width: 50%;
}

.code{
    flex: 0 0 100%;
}

.code_container{
    height: calc(100% - 38px);
}

.CodeMirror {
    height: 100% !important;
}